.Signup{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
 
}

.Signup h1 {
  margin-bottom: 20px;
}

.Signup div {
  margin-bottom: 15px;
}

.Signup label {
  display: block;
  margin-bottom: 5px;
}

.Signup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.Signup button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}